.blockPicture {
    display: flex;
    line-height: 0;
    outline: 0;
}

.oneStick {
    display: flex;
    flex-direction: column;
}

.oneStick img {
    width: 100%;
    max-width: 80px;
}

.fullCard img {
    width: 100%;
    max-width: 80px;
}