.main {
    flex-grow: 1;
    background-color: #8fbe00;
    height: 82vh;
    background-image: url('../../resources/img/background-photo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
  }
  
@media only screen and (max-width: 767px) {
  .main {
    background-image: url('../../resources/img/background-photo-mobile-devices.jpg');
  }
}