.blockPlay {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.blockCard {
  display: flex;
  flex-direction: row;
  background-color: #fff;
}