.blockPlay {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.blockCard {
  display: flex;
  box-sizing: border-box;
  padding: 5%;
  flex-direction: row;
  max-width: 95%;
  margin: 0 auto;
  border-radius: 7vh;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow:
  0px 0px 0px 6px rgba(182, 231, 170, 0.589),
  2px 2px 2px 5px #555;
  
  -moz-box-shadow:
  0px 0px 0px 6px rgba(182, 231, 170, 0.589),
  2px 2px 2px 5px #555;
  
  box-shadow:
  0px 0px 0px 2px rgba(182, 231, 170, 0.589),
  2px 2px 2px 5px #555;
}

.questionImg {
  margin: 5%;
  width: 100%;
  max-height: 300px;
}