.header {
  flex-grow: 1;
  background-color: #8fbe00;
  padding: 10px 1%;
  position: relative;
  -webkit-box-shadow:
  0px 0px 0px 6px rgba(182, 231, 170, 0.589),
  2px 2px 2px 5px #555;
  
  -moz-box-shadow:
  0px 0px 0px 6px rgba(182, 231, 170, 0.589),
  2px 2px 2px 5px #555;
  
  box-shadow:
  0px 0px 0px 2px rgba(182, 231, 170, 0.589),
  2px 2px 2px 5px #555;
}

.logo {
  width: 160px;
  height: 80px;
  border: 2px solid orange;
  border-radius: 50px;
  background-color: white;
  padding: 5px;
  margin-right: 5%;
}

.link-logo {
  margin-right: 5%;
}

.h1-header {
  font-size: 1.5rem;
}

.p-header {
  font-size: 1.2rem;
}