.header {
  flex-grow: 1;
  background-color: #8fbe00;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.logo {
  width: 160px;
  height: 80px;
  border: 2px solid orange;
  border-radius: 50px;
  background-color: white;
  padding: 5px;
  margin-right: 5%;
}

.link-logo {
  margin-right: 5%;
}

.h1-header {
  font-size: 1.5rem;
}

.p-header {
  font-size: 1.2rem;
}