footer {
    height: 40px;
    margin-top: -40px;
    background-color: #8fbe00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    position: relative;
    -webkit-box-shadow:
    0px 0px 0px 6px rgba(182, 231, 170, 0.589),
    2px 2px 2px 5px #555;
    
    -moz-box-shadow:
    0px 0px 0px 6px rgba(182, 231, 170, 0.589),
    2px 2px 2px 5px #555;
    
    box-shadow:
    0px 0px 0px 2px rgba(182, 231, 170, 0.589),
    2px 2px 2px 5px #555;
}

footer .copyrights {
    font-size: small;
    color: honeydew;
}

footer .social-link {
    margin: 0 20px 0 0;
}

footer .social-links img {
    width: 20px;
}