footer {
    height: 40px;
    background-color: rgb(53, 53, 156);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    flex-shrink: 0;
}

footer .copyrights {
    font-size: small;
    color: honeydew;
}

footer .social-link {
    margin: 0 20px 0 0;
}

footer .social-links img {
    width: 20px;
}